{% extends 'base.html' %}

{% block title %}Вход{% endblock %}
{% block menu %}
    <a class="nav-link" aria-current="page" href="{% url 'webapp:index' %}">На главную</a>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title text-center">Вход</h1>

                        <form action="{% url 'accounts:login' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.GET.next|default:'/' }}">
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    Неверное имя пользователя или пароль.
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Имя пользователя:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
